<div id="{{changed}}">
<h5>
         {% for i in range(song|length) %}
            {%  if correct[i] %}
              <span class="known"> {{ song[i] }} </span>
            {% else %}
               <span class="unknown">
            {%  if giveup %}
              <span class="unknown"> {{ song[i] }} </span>
            {% else %}
                   <span class="unknown"> ____ </span>
                               {% endif %}


            {% endif %}
            {%  if (i + 1) % line_length == 0 %}
                </h5><h5>
            {% endif %}
         {% endfor %}
</h5></div>